<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>iKNSA - ng course</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>

    <header class="row-fluid">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="">iKNSA Angular course</a>
            </div>

            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Recrutement</a></li>
                    <li><a href="#">Demande de devis</a></li>
                    <li><a href="#">Friends</a></li>
                    <li><a href="#">New Friends</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="row-fluid">
        <main class="container-fluid" ng-app="">
            <!-- Contents goes here -->
            <div class="well">
                <h3>Arithmetics : Cast string value to integer using text fiels</h3>
                <input type="text" name="text1" ng-model="text1"> +
                <input type="text" name="text2" ng-model="text2">
                <br>
                <b>{{ (text1 - 0) + (text2 - 0) }}</b>
            </div>
            <div class="well">
                <h3>Arithmetics in templates</h3>
                <b>50/26</b> = {{ 50 / 26 }}
                <hr>
                <input type="number" name="" ng-model="first"> +
                <input type="number" name="" ng-model="second">
                {{ first + second }}
            </div>
            <div class="well">
                <h3>DataBinding with HTML5</h3>
                <label>What's your name: </label><input type="text" name="name" ng-model="name"><br>
                <span>Your name is : <b>{{ name }}</b></span>
                <hr>
                <label>What's your age: </label><input type="number" name="name" ng-model="age"><br>
                <span>Your name is : <b>{{ age }}</b></span>
            </div>
            <div class="well">
                <h3>DataBinding</h3>
                <label>What's your name: </label><input type="text" name="name" ng-model="name" ng-model-options="{ updateOn: 'blur' }"><br>
                <span>Your name is : <b>{{ name }}</b></span>
            </div>
        </main>
    </div>

    <div class="clearfix"></div>
    <hr>
    <div class="row-fluid">
        <footer>
            <div class="jumbotron">
                <h2 class="text-center">My Great AngularJS app</h2>
            </div>
        </footer>
    </div>
</body>
</html>