<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>iKNSA - ng course</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <header class="row-fluid">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="home.html">iKNSA Angular course</a>
            </div>

            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="home.html">Accueil</a></li>
                    <li><a href="about.html">A propos</a></li>
                    <li><a href="recruitement.html">Recrutement</a></li>
                    <li><a href="quotation.html">Demande de devis</a></li>
                    <li><a href="friends.html">Friends</a></li>
                    <li><a href="friend-new.html">New Friends</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="row-fluid">
        <main class="container-fluid">
          <div class="banner">
              <img src="../img/bleu.jpg" alt="">
              <h2>Vous êtes sur la page a porpos</h2>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="http://placehold.it/192x200" alt="...">
                <div class="caption">
                  <h3>General Manager</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sunt, iste eius necessitatibus a, veniam velit possimus saepe dolorem vitae odit assumenda molestiae. Placeat expedita deleniti facilis, ea neque a!</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="http://placehold.it/192x200" alt="...">
                <div class="caption">
                  <h3>Project manager</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sunt, iste eius necessitatibus a, veniam velit possimus saepe dolorem vitae odit assumenda molestiae. Placeat expedita deleniti facilis, ea neque a!</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="http://placehold.it/192x200" alt="...">
                <div class="caption">
                  <h3>Products</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sunt, iste eius necessitatibus a, veniam velit possimus saepe dolorem vitae odit assumenda molestiae. Placeat expedita deleniti facilis, ea neque a!</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          </div>
        </main>
    </div>

    <div class="clearfix"></div>
    <hr>
    <div class="row-fluid">
        <footer>
            <div class="jumbotron">
                <h2 class="text-center">My Great angular app</h2>
            </div>
        </footer>
    </div>
</body>
</html>