<ng-include src="'templates/_banner.html'"></ng-include>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th>T&C</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="contact in list">
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.message }}</td>
      <td><span ng-if="contact.tnc" class="btn btn-success"></span></td>
      <td>
        <a ng-href="#/contact/{{ contact.email }}/edit" class="btn btn-primary">Modifier</a>
        <a ng-href="#/contact/{{ contact.email }}/delete" class="btn btn-danger">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>