<div class="banner">
    <img ng-src="img/{{ imgName }}.jpg" alt="">
    <h2>{{ pageTitle }}</h2>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th>T&C</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Khalid Sookia</td>
      <td>khalid.sookia@iknsa.com</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</td>
      <td><span class="btn btn-success"></span></td>
    </tr>
    <tr>
      <td>Khalid Sookia</td>
      <td>khalid.sookia@iknsa.com</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</td>
      <td><span class="btn btn-success"></span></td>
    </tr>
    <tr>
      <td>Khalid Sookia</td>
      <td>khalid.sookia@iknsa.com</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</td>
      <td><span class="btn btn-success"></span></td>
    </tr>
  </tbody>
</table>