<ng-include src="'templates/_banner.html'"></ng-include>

<form class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" placeholder="Name" type="text">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" id="email" placeholder="Email" type="email">
    </div>
    <div class="form-group">
        <label for="tel">Tel</label>
        <input class="form-control" id="tel" placeholder="Tel" type="text">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" id="age" placeholder="Age" type="number">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>