<div class="clearfix well">
    <div class="col-xs-6">
        <h1>Broadcasting</h1>
        <div ng-controller="BroadcastCtrl">
            <label>Type a name to broadcast</label>
            <input ng-model="name">
            <button ng-click="send()">Send to another controller</button>
        </div>
    </div>

    <div class="col-xs-6">
        <h1>Reciever of broadcast</h1>

        <div ng-controller="ReciverCtrl">
            Some controller broadcasted the following name: <b>{{ name }}</b>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div style="padding:30px;border: 1px solid red">
        <div ng-controller="TestCtrl">
            <p> {{who}}, {{what}}!</p>
            <div style="padding:30px;border: 1px solid blue" ng-controller="ChildCtrl">
                <p> {{who}}, {{what}}!</p>
                <div style="padding:30px;border: 1px solid green" ng-controller="GrandChildCtrl">
                    <p> {{who}}, {{what}}!</p>
                </div>
            </div>
        </div>
    </div>
</div>
