/**
 * @author Khalid Sookia <khalidsookia@gmail.com>
 */
.navbar {
    margin-bottom: 0;
}

.banner {
    position: relative;
    margin:0 -15px 30px;
    max-height: 300px;
    overflow: hidden;
}

.banner img {
    position: relative;
    width: 100%;
}

.banner h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

textarea {
    resize:vertical;
    min-height: 100px;
}